@import "../../../sass/utils/vars.scss";

.benefits {
    padding: 24px 0;
    overflow: hidden;

    @media screen and (min-width: 1280px) {
        padding: 80px 0;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__item {
        border-radius: 24px;
        min-width: 340px;
        display: flex;
        flex-direction: column;

        &:nth-child(1) {
            background: linear-gradient(180deg, #d2cdc6 0%, #f8bf93 100%);
        }

        &:nth-child(2) {
            flex-direction: column-reverse;
            background: linear-gradient(180deg, #d2cdc6 0%, #f2ebe3 100%);
        }

        &:nth-child(3) {
            background: linear-gradient(180deg, #d8b74b 0%, #f2ebe3 100%);
        }

        @media screen and (min-width: 1280px) {
            min-width: 1080px;
            height: 480px;
            align-items: center;
            flex-direction: row;
            gap: 16px;

            &:nth-child(2) {
                flex-direction: row;
            }
        }
    }

    &__header {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.33333;
        color: $benefits-color;
        padding: 42px 32px;

        @media screen and (min-width: 1280px) {
            font-size: 32px;
            line-height: 1.3125;
            padding: 0 80px;
        }
    }

    &__img {
        @media screen and (min-width: 1280px) {
            width: auto;
            height: 100%;
        }
    }
}