$light-btn-text: #000;
$benefits-color: #3b3b3b;
$first-color: #52483e;
$second-color: #8b8782;
$main-color: #f5f5f5;
$dark-btn-text: #fff;
$red: #883d39;
$yellow: #d8b74b;
$green: #94915b;
$blue: #7ca5b6;
$purple: #8573a9;
$white: #e5dfd8;